/* .add {
    margin-top: 20px;
    display: flex;
    gap: 20px;

}
.add .content {
    flex: 5;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.add .content input {
    padding: 10px;
    border: 1px solid lightgray;
}
.add .content .editor-container {
    height: 400px;
    overflow: scroll;
    border: 1px solid lightgray;
}
.add .content .editor-container .editor {
    height: 100%;
    border: none;
}
.add .menu {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.add .item {
    padding: 10px;
    border: 1px solid lightgray;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 12px;
    color: #555;
}
.add .item h1 {
    font-size: 20px;
}
.add .item .file {
    text-decoration: underline;
    cursor: pointer;
}
.add .item .buttons {
    display: flex;
    justify-content: space-between;
}
.add .item .buttons :first-child {
    cursor: pointer;
    color: #de8c5c;
    background-color: white;
    border: 1px solid #de8c5c;
    padding: 3px 5px;
}
.add .item .buttons :first-child:hover {
    background-color: #de8c5c;
    color: white;
    border: 1px solid white;
}
.add .item .buttons :last-child {
    cursor: pointer;
    color: white;
    background-color: #de8c5c;
    border: 1px solid white;
    padding: 3px 5px;
}
.add .item .category {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #de8c5c;
}
.add .item .category .category-item {
    cursor: pointer;
    padding: 3px 5px;
    border: 1px solid #de8c5c;
    color: #de8c5c;
} */