
.country {
    transition-duration: 2s;
    transform-origin: center;
    transform-box: fill-box;
    cursor: pointer;

}

.country:hover{
    fill: blanchedalmond;
    transition-duration: 2s;
    transform-origin: center;
    transform-box: fill-box;
    transform: scale(5);
}


/* Path: components/worldMap/map.module.css */
/* make a marker as like as google map for this country-hover */
.country-hover {
    transition-duration: 2s;
    transform-origin: center;
    transform-box: fill-box;
    cursor: pointer;
}
